@model FooterVM

<footer>
    <section id="footer-up">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-sm-6">
                    <div class="footer-elem">
                        <div class="footer-logo">
                            <img src="./assets/images/@Model.FooterLogo" alt="" />
                        </div>
                        <div class="footer-contact">
                            <p>
                                <span>Address:</span>
                                <span>@Model.Address</span>
                            </p>
                            <p>
                                <span>Phone:</span>
                                <span>@Model.Phone</span>
                            </p>
                            <p>
                                <span>Email:</span>
                                <span>@Model.Email</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="footer-elem">
                        <div class="footer-title">
                            <h3>Information</h3>
                        </div>
                        <ul class="footer-list">
                            <li>
                                <a href="">Prices drop</a>
                            </li>
                            <li>
                                <a href="">New products</a>
                            </li>
                            <li>
                                <a href="">Best sales</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact us</a>
                            </li>
                            <li>
                                <a href="">Sitemap</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="footer-elem">
                        <div class="footer-title">
                            <h3>Extras</h3>
                        </div>
                        <ul class="footer-list">
                            <li>
                                <a href="">Delivery</a>
                            </li>
                            <li>
                                <a href="">About us</a>
                            </li>
                            <li>
                                <a href="">Stores</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact us</a>
                            </li>
                            <li>
                                <a href="">Sitemap</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="footer-elem">
                        <div class="footer-title">
                            <h3>NEWSLETTER SUBSCRIBE</h3>
                        </div>
                        
                        <div class="newsletter-form">
                            <form method="post" asp-controller="Subscribe" asp-action="SubscribeToNewsletter">
                                <input type="email" required
                                       class="form-control"
                                       asp-for="@Model.Subscribe.Email "
                                       placeholder="Enter Your Email Address Here..." />
                                <span class="text-danger" asp-validation-for="@Model.Subscribe.Email"></span>
                                <button class="btn w-100" type="submit">Subscribe</button>
                            </form>
                        </div>

                        <div class="social-btns">
                            <h3>Stay Connected</h3>
                            <ul>

                                @foreach (var item in Model.Socials)
                                {
                                    <li>
                                        <a href="@item.Link" target="_blank">
                                            <i class="@item.IconName"></i>
                                        </a>
                                    </li>
                                }
                               
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer-down">
        <div class="container">
            <p>
                Suspendisse in auctor augue. Cras fermentum est ac fermentum tempor.
                Etiam vel magna volutpat, posuere eros
            </p>
            <a href="">
                <img src="./assets/images/@Model.PaymentMethod" alt="" />
            </a>
            <p>
                Copyright © 2022
                <a href="">Pustok</a>
                . All Right Reserved.
            </p>
            <p>Design By Pustok</p>
        </div>
    </section>
</footer>