
@model HomeVM

@{
    ViewData["Title"] = "Home Page";
}


@section css {
    <link rel="stylesheet" href="~/assets/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="~/assets/slick-1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/assets/css/pages/home.css" />

}

<!-- Slider section starts -->
<section id="slider-section">

    @foreach (var item in Model.Sliders)
    {
        if (item.Direction.ToLower()== SliderTextDirection.Right.ToString().ToLower())
        {
            <div class="content bg-color-2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-6">
                            <div class="image">
                                <img src="~/assets/images/@item.Image" alt="" />
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6">
                            <div class="text">
                                <h1>@item.Header</h1>
                                <h1>@item.Title</h1>
                                <h2>@item.Description</h2>
                                <a class="btn" href="shop.html">
                                   Learn More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

        else
        {
                        <div class="content bg-color-1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-6">
                            <div class="text">
                                <h1>@item.Header</h1>
                                <h1>@item.Title</h1>
                                <h2>@item.Description</h2>
                                <a class="btn" href="shop.html">
                                    Order Now!
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6">
                            <div class="image">
                                <img src="~/assets/images/@item.Image" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        }

    }


   

 


</section>
<!-- Slider section ends -->

<!-- Services section starts -->
<section id="service-section" class="mb-5">
    <div class="container">
        <div class="row">

            @foreach (var item in Model.SiteServices)
            {
                <div class="col-xl-3 col-md-6 mt-3">
                    <div class="feature-box h-100">
                        <div class="icon">
                            <i class="@item.IconName"></i>
                        </div>
                        <div class="text">
                            <h5>@item.Title</h5>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>

            }
        
        </div>
    </div>
</section>
<!-- Services section ends -->
<!-- Promotion Section Starts -->
<section id="promotion-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 mb-5">
                <a class="promo-image" href="">
                    <img src="~/assets/images/@Model.Adverts[0].Image" alt="" />
                </a>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <a class="promo-image" href="">
                    <img src="~/assets/images/@Model.Adverts[1].Image"
                         alt="" />
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Promotion Section Ends -->

<!-- Featured Products Section Starts -->

<section id="featured-products-section">
    <div class="container">
        <div class="tab-area">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active"
                    href=""
                       id="pills-home-tab"
                       data-bs-toggle="pill"
                       data-bs-target="#pills-home"
                       type="button"
                       role="tab"
                       aria-controls="pills-home"
                       aria-selected="true">
                        Featured Products
                    </a>
                    <span class="arrow-icon show-arrow"></span>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                       href=""
                       id="pills-profile-tab"
                       data-bs-toggle="pill"
                       data-bs-target="#pills-profile"
                       type="button"
                       role="tab"
                       aria-controls="pills-profile"
                       aria-selected="false">
                        New Arrivals
                    </a>
                    <span class="arrow-icon"></span>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                       href=""
                       id="pills-contact-tab"
                       data-bs-toggle="pill"
                       data-bs-target="#pills-contact"
                       type="button"
                       role="tab"
                       aria-controls="pills-contact"
                       aria-selected="false">
                        Most Viewed Products
                    </a>
                    <span class="arrow-icon"></span>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active"
                     id="pills-home"
                     role="tabpanel"
                     aria-labelledby="pills-home-tab">
                    <div class="product-slider">
                        
                        @foreach (var item in Model.FeaturedProducts)
                        {
                            <div class="product-card" data-id="@item.Id">
                                <div class="product-header">
                                    <a class="author" href="">@item.AuthorName</a>
                                    <h3>
                                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a>
                                    </h3>
                                </div>
                                <div class="product-card-body">
                                    <div class="card-image">
                                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="~/assets/images/@item.Images.FirstOrDefault(m=>m.IsMain).Image" alt="" />
                                        </a>
                                        <div class="hover-content" data-id="@item.Id">
                                            <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                                <img src="~/assets/images/@item.Images.FirstOrDefault(m=>!m.IsMain).Image" alt="" />
                                            </a>
                                            <div class="hover-btns" data-id="@item.Id">
                                               
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <a @* class="added-cart" *@>
                                                        <i class="fas fa-shopping-basket cart-add"></i>
                                                    </a>
                                                    <a @* class="wislist-add" *@>
                                                        <i class="fas fa-heart wishlist-add"></i>
                                                    </a>
                                                  
                                                }
                                                else
                                                {
                                                    <a asp-controller="Account" asp-action="Login">
                                                        <i class="fas fa-shopping-basket"></i>
                                                    </a>
                                                    <a asp-controller="Account" asp-action="Login">
                                                        <i class="fas fa-heart"></i>
                                                    </a>
                                                   
                                                }
                                                <a class="open-modal" data-id="@item.Id" href="">
                                                    <i class="fas fa-eye"></i>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-price">
                                        <span class="price">$@(item.Price - ((item.Price*item.Discount)/100))</span>
                                        <del class="price-old">$@item.Price</del>
                                        <span class="price-discount">@item.Discount%</span>
                                    </div>
                                </div>
                            </div>

                        }
                       
                    </div>
                </div>
                <div class="tab-pane fade"
                     id="pills-profile"
                     role="tabpanel"
                     aria-labelledby="pills-profile-tab">
                    <div class="product-slider-2">
                        @foreach (var item in Model.NewArrivedProducts)
                        {
                            <div class="product-card" data-id="@item.Id">
                                <div class="product-header">
                                    <a class="author" href="">@item.AuthorName</a>
                                    <h3>
                                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a>
                                    </h3>
                                </div>
                                <div class="product-card-body">
                                    <div class="card-image">
                                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="~/assets/images/@item.Images.FirstOrDefault(m=>m.IsMain).Image" alt="" />
                                        </a>
                                        <div class="hover-content" data-id="@item.Id">
                                            <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                                <img src="~/assets/images/@item.Images.FirstOrDefault(m=>!m.IsMain).Image" alt="" />
                                            </a>
                                            <div class="hover-btns" data-id="@item.Id">

                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <a @* class="added-cart" *@>
                                                        <i class="fas fa-shopping-basket cart-add"></i>
                                                    </a>
                                                    <a @* class="wislist-add" *@>
                                                        <i class="fas fa-heart wishlist-add"></i>
                                                    </a>

                                                }
                                                else
                                                {
                                                    <a asp-controller="Account" asp-action="Login">
                                                        <i class="fas fa-shopping-basket"></i>
                                                    </a>
                                                    <a asp-controller="Account" asp-action="Login">
                                                        <i class="fas fa-heart"></i>
                                                    </a>

                                                }
                                                <a class="open-modal" data-id="@item.Id" href="">
                                                    <i class="fas fa-eye"></i>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-price">
                                        <span class="price">$@(item.Price - ((item.Price * item.Discount) / 100))</span>
                                        <del class="price-old">$@item.Price</del>
                                        <span class="price-discount">@item.Discount%</span>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
                <div class="tab-pane fade"
                     id="pills-contact"
                     role="tabpanel"
                     aria-labelledby="pills-contact-tab">
                    <div class="product-slider-3">
                        @foreach (var item in Model.MostViewedProducts)
                        {
                            <div class="product-card" data-id="@item.Id">
                                <div class="product-header">
                                    <a class="author" href="">@item.AuthorName</a>
                                    <h3>
                                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a>
                                    </h3>
                                </div>
                                <div class="product-card-body">
                                    <div class="card-image">
                                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="~/assets/images/@item.Images.FirstOrDefault(m=>m.IsMain).Image" alt="" />
                                        </a>
                                        <div class="hover-content" data-id="@item.Id">
                                            <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                                <img src="~/assets/images/@item.Images.FirstOrDefault(m=>!m.IsMain).Image" alt="" />
                                            </a>
                                            <div class="hover-btns" data-id="@item.Id">

                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <a @* class="added-cart" *@>
                                                        <i class="fas fa-shopping-basket cart-add"></i>
                                                    </a>
                                                    <a @* class="wislist-add" *@>
                                                        <i class="fas fa-heart wishlist-add"></i>
                                                    </a>

                                                }
                                                else
                                                {
                                                    <a asp-controller="Account" asp-action="Login">
                                                        <i class="fas fa-shopping-basket"></i>
                                                    </a>
                                                    <a asp-controller="Account" asp-action="Login">
                                                        <i class="fas fa-heart"></i>
                                                    </a>

                                                }
                                                <a class="open-modal" data-id="@item.Id" href="">
                                                    <i class="fas fa-eye"></i>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-price">
                                        <span class="price">$@(item.Price - ((item.Price * item.Discount) / 100))</span>
                                        <del class="price-old">$@item.Price</del>
                                        <span class="price-discount">@item.Discount%</span>
                                    </div>
                                </div>
                            </div>


                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Featured Product Section Ends -->


<!-- Discount Section Starts -->
<section id="discount-section">
    <div class="discount-heading">
        <h2>Deal of the day up to 20% off Special offer</h2>
    </div>

    <div class="container">
        <div class="product-slider">
            @foreach (var item in Model.DealOfTheDay)
            {
                <div class="product-card" data-id="@item.Id">
                    <div class="product-header">
                        <a class="author" href="">@item.AuthorName</a>
                        <h3>
                            <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a>
                        </h3>
                    </div>
                    <div class="product-card-body">
                        <div class="card-image">
                            <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                <img src="~/assets/images/@item.Images.FirstOrDefault(m=>m.IsMain).Image" alt="" />
                            </a>
                            <div class="hover-content" data-id="@item.Id">
                                <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                    <img src="~/assets/images/@item.Images.FirstOrDefault(m=>!m.IsMain).Image" alt="" />
                                </a>
                                <div class="hover-btns" data-id="@item.Id">

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a @* class="added-cart" *@>
                                            <i class="fas fa-shopping-basket cart-add"></i>
                                        </a>
                                        <a @* class="wislist-add" *@>
                                            <i class="fas fa-heart wishlist-add"></i>
                                        </a>

                                    }
                                    else
                                    {
                                        <a asp-controller="Account" asp-action="Login">
                                            <i class="fas fa-shopping-basket"></i>
                                        </a>
                                        <a asp-controller="Account" asp-action="Login">
                                            <i class="fas fa-heart"></i>
                                        </a>

                                    }
                                    <a class="open-modal" data-id="@item.Id" href="">
                                        <i class="fas fa-eye"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="card-price">
                            <span class="price">$@(item.Price - ((item.Price * item.Discount) / 100))</span>
                            <del class="price-old">$@item.Price</del>
                            <span class="price-discount">@item.Discount%</span>
                        </div>
                    </div>
                </div>



            }
        </div>
    </div>
</section>
<!-- Discount Section Ends -->


<!-- Best Seller Section Starts -->
<section id="best-seller-section"
         style="background-image: url(./assets/images/best-seller-bg.webp)">
    <div class="container">
        <div class="section-title">
            <h2>Best SELLER BOOKS</h2>
        </div>

        <div class="best-seller-content">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="author-image">
                        <img src="~/assets/images/best-seller-author.webp" alt="" />
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="bestselller-product-slider">
                        <div class="">
                            @foreach (var item in Model.BestSellers.Take(2))
                            {
                                <div class="product-card" data-id="@item.Id">
                                    <div class="card-image">
                                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="~/assets/images/@item.Images.FirstOrDefault(m=>m.IsMain).Image" alt="" />
                                        </a>
                                    </div>

                                    <div class="product-card-body">
                                        <div class="product-header">
                                            <a class="author" href="">@item.AuthorName</a>
                                            <h3>
                                                <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                                   @item.Name
                                                </a>
                                            </h3>
                                        </div>
                                        <div class="card-price">
                                            <span class="price">$@(item.Price - ((item.Price * item.Discount) / 100))</span>
                                            <del class="price-old">$@item.Price</del>
                                            <span class="price-discount">@item.Discount%</span>
                                        </div>
                                    </div>
                                </div>

                            }
                   
                        </div>
                        <div class="">
                            @foreach (var item in Model.BestSellers.Skip(2).Take(2))
                            {
                                <div class="product-card" data-id="@item.Id">
                                    <div class="card-image">
                                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="~/assets/images/@item.Images.FirstOrDefault(m=>m.IsMain).Image" alt="" />
                                        </a>
                                    </div>

                                    <div class="product-card-body">
                                        <div class="product-header">
                                            <a class="author" href="">@item.AuthorName</a>
                                            <h3>
                                                <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                                    @item.Name
                                                </a>
                                            </h3>
                                        </div>
                                        <div class="card-price">
                                            <span class="price">$@(item.Price - ((item.Price * item.Discount) / 100))</span>
                                            <del class="price-old">$@item.Price</del>
                                            <span class="price-discount">@item.Discount%</span>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                        <div class="">
                            @foreach (var item in Model.BestSellers.Skip(4).Take(2))
                            {
                                <div class="product-card" data-id="@item.Id">
                                    <div class="card-image">
                                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="~/assets/images/@item.Images.FirstOrDefault(m=>m.IsMain).Image" alt="" />
                                        </a>
                                    </div>

                                    <div class="product-card-body">
                                        <div class="product-header">
                                            <a class="author" href="">@item.AuthorName</a>
                                            <h3>
                                                <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                                    @item.Name
                                                </a>
                                            </h3>
                                        </div>
                                        <div class="card-price">
                                            <span class="price">$@(item.Price - ((item.Price * item.Discount) / 100))</span>
                                            <del class="price-old">$@item.Price</del>
                                            <span class="price-discount">@item.Discount%</span>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Best Seller Section Ends -->


<!-- Children's book Section starts -->
<section id="children-book-section">
    <div class="container">
        <div class="section-title">
            <h2>Children's Books</h2>
        </div>
        <div class="products">
            @foreach (var item in Model.ChildrensBooks)
            {
                <div class="product-card" data-id="@item.Id">
                    <div class="card-image">
                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                            <img src="~/assets/images/@item.Images.FirstOrDefault(m=>m.IsMain).Image" alt="" />
                        </a>
                    </div>

                    <div class="product-card-body">
                        <div class="product-header">
                            <a class="author" href="">@item.AuthorName</a>
                            <h3>
                                <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                   @item.Name
                                </a>
                            </h3>
                        </div>
                        <div class="card-price">
                            <span class="price">$@(item.Price - ((item.Price * item.Discount) / 100))</span>
                            <del class="price-old">$@item.Price</del>
                            <span class="price-discount">@item.Discount%</span>
                        </div>
                    </div>
                </div>

            }
        
        </div>
    </div>
</section>
<!-- Children's book Section ends -->


<!-- promo section starts -->
<section id="promo-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-3">
                <div class="promo-wrapper-1">
                    <a class="bg-image"
                       href=""
                       style="
                    background-image: url(./assets/images/@Model.Adverts[2].Image);
                  "></a>
                    <div class="promo-text">
                        <h2>@Model.Adverts[2].Header</h2>
                        <h3>@Model.Adverts[2].Title</h3>
                        <a class="btn" href="">See More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="promo-wrapper-2">
                    <a class="bg-image"
                       href=""
                       style="
                    background-image: url(./assets/images/@Model.Adverts[3].Image);
                  "></a>
                    <div class="promo-text">
                        <span>@Model.Adverts[3].Header</span>
                        <h3>@Model.Adverts[3].Title</h3>
                        <a class="btn" href="">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- promo section ends -->

<!-- arts-and photography products section starst -->
<section id="arts-book-section">
    <div class="container">
        <div class="section-title">
            <h2>Arts & Photography Books</h2>
        </div>
        <div class="art-product-slider">
            @foreach (var item in Model.ArtPhorographyBooks)
            {
                <div class="product-card" data-id="@item.Id">
                    <div class="product-header">
                        <a class="author" href="">@item.AuthorName</a>
                        <h3>
                            <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a>
                        </h3>
                    </div>
                    <div class="product-card-body">
                        <div class="card-image">
                            <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                <img src="~/assets/images/@item.Images.FirstOrDefault(m=>m.IsMain).Image" alt="" />
                            </a>
                            <div class="hover-content" data-id="@item.Id">
                                <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                    <img src="~/assets/images/@item.Images.FirstOrDefault(m=>!m.IsMain).Image" alt="" />
                                </a>
                                <div class="hover-btns" data-id="@item.Id">

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a @* class="added-cart" *@>
                                            <i class="fas fa-shopping-basket cart-add"></i>
                                        </a>
                                        <a @* class="wislist-add" *@>
                                            <i class="fas fa-heart wishlist-add"></i>
                                        </a>

                                    }
                                    else
                                    {
                                        <a asp-controller="Account" asp-action="Login">
                                            <i class="fas fa-shopping-basket"></i>
                                        </a>
                                        <a asp-controller="Account" asp-action="Login">
                                            <i class="fas fa-heart"></i>
                                        </a>

                                    }
                                    <a class="open-modal" data-id="@item.Id" href="">
                                        <i class="fas fa-eye"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="card-price">
                            <span class="price">$@(item.Price - ((item.Price * item.Discount) / 100))</span>
                            <del class="price-old">$@item.Price</del>
                            <span class="price-discount">@item.Discount%</span>
                        </div>
                    </div>
                </div>



            }

        </div>
    </div>
</section>
<!-- arts-and photography products section ends -->


<!-- advertisment section 2 starts -->
<section id="advertisment-section-2">
    <div class="section-wrapper">
        <a class="bg-image"
           href=""
           style="
              background-image: url(./assets/images/@Model.Adverts[4].Image);
            "></a>

        <div class="text w-100">
            <div class="container">
                <div class="row w-100">
                    <div class="col-lg-7">
                        <h2>@Model.Adverts[4].Header</h2>
                        <h3>@Model.Adverts[4].Title</h3>
                        <a class="btn btn--yellow" href="">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- advertisment section 2 ends -->




<!-- Testimonial Section Starts -->
<section id="testimonial-section">
    <div class="container">
        <div class="section-title">
            <h2>CLIENT TESTIMONIALS</h2>
        </div>
        <div class="testimonial-slider">
                
            @foreach (var item in Model.Testimonials)
            {
                <div class="testimonial-card">
                    <div class="testimonial-image">
                        <img src="~/assets/images/@item.Image" alt="" />
                    </div>
                    <div class="testimonial-body">
                        <article>
                            <p>
                               @item.Review
                            </p>
                            <span class="client-name d-block">@item.Name @item.Surname</span>
                        </article>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
<!-- Testimonial Section Ends -->


<!-- Blog Section Starts  -->
<section id="blog-section">
    <div class="container">
        <div class="section-title">
            <h2>LATEST BLOGS</h2>
        </div>

        <div class="blog-slider">
            @foreach (var item in Model.Blogs )
            {
                <div class="blog-card">
                    <div class="image">
                        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">
                            <img src="~/assets/images/@item.Image" alt="" />
                        </a>
                    </div>
                    <div class="content">
                        <div class="content-header">
                            <div class="date-badge">
                                <span class="date"> @item.CreatedDate.Day </span>
                                <span class="month"> @item.CreatedDate.ToString("MMMM").Substring(0, 3)</span>
                            </div>
                            <h3>
                                <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">@item.Title.Substring(0, (int)Math.Ceiling((item.Title.Length * 0.4)))</a>
                            </h3>
                        </div>
                        <p class="blog-author">
                            <i class="fas fa-user-edit"></i>
                            Post by
                            <a href="">@item.Author</a>
                        </p>
                        <article>
                            <p>
                                @item.Description.Substring(0, (int)Math.Ceiling((item.Description.Length * 0.1)))
                            </p>
                        </article>
                        <a class="card-link" asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">
                            Read More <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
            }
         
        
        </div>
    </div>
</section>
<!-- Blog Section Ends  -->


<!-- Partners section starts -->
<section id="partners-section">
    <div class="container">
        <hr />
        <div class="brand-slider">
            @foreach (var item in Model.Brands)
            {
                <img src="~/assets/images/@item.Image" alt="" />
            }
           
        </div>
        <hr />
    </div>
</section>
<!-- partners section end -->



<!-- Product Detail Modal Section Starts -->
<section id="product-detail-modal">
    <div class="container">
        <div class="detail-modal d-none">
            <div class="close-modal">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="modal-content">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 mb-5 mb-lg-0">
                        <div class="product-image">
                 
                        </div>
                        <div class="slider-nav-thumbnails">
                     
                        
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="product-content" data-id="0">
                            <h1 class="product-name">
                                In 10 Minutes, I'll Give You The Truth About
                            </h1>
                            <div class="price">
                                <span class="actual-price">$</span>
                                <del class="discount-price">$80</del>
                            </div>


                            <p class="product-desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua.
                            </p>

                            <div class="add-to-cart">
                                <div class="quantity">
                                    <span class="minus">
                                        <i class="fa-solid fa-minus"></i>
                                    </span>
                                    <span class="num">1</span>
                                    <span class="plus">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                </div>
                                <button type="submit" class="cart-add">Add to cart</button>
                            </div>

                            <div class="product-extra-buttons">

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="add-to-wishlist wishlist-add">
                                        <i class="fa-regular fa-heart"></i>
                                        <span>Add to Wishlist</span>
                                    </div>
                                }
                                else
                                {
                                    <a asp-controller="Account" asp-action="Login">
                                        <div class="add-to-wishlist wishlist-add">
                                            <i class="fa-regular fa-heart"></i>
                                            <span>Add to Wishlist</span>
                                        </div>
                                    </a>
                                }
                                <a href="">
                                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                    Share this Product
                                </a>
                            </div>

                            <div class="product-meta">
                                <p>SKU: <span class="sku">BE45VGRT</span></p>
                                <p>Category: <span class="category">adventure, children</span></p>
                                <p>Tags: <span class="tags">news, strategy, bestseller</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-overlay d-none"></div>
 
</section>
<!-- Product Detail Modal Section Ends -->

<!-- product succesfully added to wishlist popup -->
<div class="added-item-wishlist ">
    <p><i class="ion-checkmark"></i>Product added to wishlist.</p>
</div>

<!-- product is already in  wishlist popup -->
<div class="remove-item-wishlist">
    <p><i class="ion-alert"></i>This product is already in wishlist.</p>
</div>

<!-- product added to basket popup -->

<div class="added-item-basket">
    <i class="ion-checkmark"></i>
    <p>
        Cogratulations! Your item has been <br />
        added.
    </p>
</div>

@section script {
    <script src="~/assets/slick-1.8.1/slick/slick.min.js"></script>
    <script src="~/assets/slick-1.8.1/slick/slick.js"></script>
    <script src="~/assets/js/home.js"></script>
    <script src="~/assets/js/wishlist.js"></script>
    <script src="~/assets/js/cart.js"></script>


}
