@model BlogPageVM
@{
    ViewData["Title"] = "Index";
}

@section css {
 
    <link rel="stylesheet" href="~/assets/css/pages/blog.css" />

}

<!-- Blog Section Starts -->
<section id="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-4 mb-lg-0 blog-list">
                <partial name="_BlogsPartial" model="Model.PaginatedDatas" />

            </div>

            <div class="col-lg-4">
                <div class="left-side-blog">
                    <div class="search-box">
                        <form action="">
                            <div class="search">
                                <input type="text"
                                       class="form-control input-area"
                                       placeholder="Search" />
                                <span style="cursor:pointer" class="blog-search-btn"><i class="fas fa-search"></i></span>
                            </div>
                        </form>
                    </div>

                    <div class="widget categories-widget">
                        <h4 class="widget-title">Category</h4>
                        <ul>
                            <li class="cat-item">
                                <a href="">All</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Arts & Photography</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Biographies</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Business & Money</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Children's Book</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Cookbooks</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Comics</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Education</a>
                                (3)
                            </li>
                        </ul>
                    </div>

                    <div class="widget recent-posts">
                        <h4 class="widget-title">Recent Posts</h4>
                        <div class="posts">
                          @foreach (var item in Model.LatestBlogs)
                            {
                                <div class="post">
                                    <div class="image">
                                        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="~/assets/images/@item.Image" alt="" />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">
                                                @item.Title.Substring(0, (int)Math.Ceiling((item.Title.Length * 0.4)))
                                            </a>
                                        </h6>
                                        <p class="date">@item.CreatedDate.Day @item.CreatedDate.ToString("MMMM"), @item.CreatedDate.Year</p>
                                    </div>
                                </div>
                            }
                          
                        </div>
                    </div>

                    <div class="widget tags">
                        <h4 class="widget-title">Tags</h4>
                        <div class="all-tags">
                            @foreach (var item in Model.Tags)
                            {
                                <a class="blog-tag" style="cursor:pointer" data-id="@item.Id" >@item.Name</a>

                            }
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section Ends -->
@section script {

    <script src="~/assets/js/blog.js"></script>

}

