@model BlogPageVM
@{
    ViewData["Title"] = "Index";
}

@section css {
 
    <link rel="stylesheet" href="~/assets/css/pages/blog.css" />

}

<!-- Blog Section Starts -->
<section id="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="blogs">
                    <div class="row">
                        @foreach (var item in Model.PaginatedDatas.Datas)
                        {
                            <div class="col-lg-6 col-md-6 mb-lg-6 mb-3">
                                <div class="blog-card">
                                    <div class="blog-image">
                                        <a asp-controller="Blog" asp-action="Detail">
                                            <img src="~/assets/images/@item.Image" alt="" />
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <h3 class="title">
                                            <a asp-controller="Blog" asp-action="Detail">
                                                @item.Title.Substring(0, (int)Math.Ceiling((item.Title.Length * 0.4)))
                                            </a>
                                        </h3>
                                        <p>
                                            <span class="date">@item.CreatedDate.ToString("MM/dd/yyyy") </span>|
                                            <a class="author" >@item.Author</a>
                                        </p>
                                        <p class="desc">
                                            @item.Description.Substring(0, (int)Math.Ceiling((item.Description.Length * 0.08)))
                                        </p>
                                        <a asp-controller="Blog" asp-action="Detail" class="blog-link">Read More</a>
                                    </div>
                                </div>
                            </div>

                        }
                    
                    </div>
                </div>
                <div class="pagination">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item  @(Model.PaginatedDatas.HasPrevious ? "" : "disabled")">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.PaginatedDatas.CurrentPage - 1)">
                                    Previous
                                </a>
                            </li>

                            @for (int i = 1; i <= Model.PaginatedDatas.TotalPage; i++)
                            {
                                <li class="page-item @(Model.PaginatedDatas.CurrentPage == i ? "active" : "")">
                                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                                </li>

                            }

                            <li class="page-item  @(Model.PaginatedDatas.HasNext ? "" : "disabled")">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.PaginatedDatas.CurrentPage + 1)">
                                    Next
                                </a>
                            </li>

                           
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="left-side-blog">
                    <div class="search-box">
                        <form action="">
                            <div class="search">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Search" />
                                <span><i class="fas fa-search"></i></span>
                            </div>
                        </form>
                    </div>

                    <div class="widget categories-widget">
                        <h4 class="widget-title">Category</h4>
                        <ul>
                            <li class="cat-item">
                                <a href="">All</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Arts & Photography</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Biographies</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Business & Money</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Children's Book</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Cookbooks</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Comics</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Education</a>
                                (3)
                            </li>
                        </ul>
                    </div>

                    <div class="widget recent-posts">
                        <h4 class="widget-title">Recent Posts</h4>
                        <div class="posts">
                            <div class="post">
                                <div class="image">
                                    <a href="./blogdetail.html">
                                        <img src="~/assets/images/blog-grid-1.webp" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="./blogdetail.html">
                                            Grow to Epiphytic Tropical Plants
                                        </a>
                                    </h6>
                                    <p class="date">7 March, 2022</p>
                                </div>
                            </div>
                            <div class="post">
                                <div class="image">
                                    <a href="./blogdetail.html">
                                        <img src="~/assets/images/blog-grid-2.webp" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="./blogdetail.html">
                                            Grow to Epiphytic Tropical Plants
                                        </a>
                                    </h6>
                                    <p class="date">7 March, 2022</p>
                                </div>
                            </div>

                            <div class="post">
                                <div class="image">
                                    <a href="./blogdetail.html">
                                        <img src="~/assets/images/blog-grid-3.webp" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="./blogdetail.html">
                                            Grow to Epiphytic Tropical Plants
                                        </a>
                                    </h6>
                                    <p class="date">7 March, 2022</p>
                                </div>
                            </div>
                            <div class="post">
                                <div class="image">
                                    <a href="./blogdetail.html">
                                        <img src="~/assets/images/blog-grid-4.webp" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="./blogdetail.html">
                                            Grow to Epiphytic Tropical Plants
                                        </a>
                                    </h6>
                                    <p class="date">7 March, 2022</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget tags">
                        <h4 class="widget-title">Tags</h4>
                        <div class="all-tags">
                            @foreach (var item in Model.Tags)
                            {
                                <a  class="blog-tag" data-id="@item.Id">@item.Name</a>

                            }
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section Ends -->
@section script {

    <script src="~/assets/js/blog.js"></script>

}

