﻿
@model List<UserVM>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1 class="text-center mt-3 mb-3">Users</h1>

    <a class="btn btn-success text-white" asp-action="AddRoleToUser">Add Role To User</a>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        FullName
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        RoleName
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            @user.Name @user.Surname
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            @user.Username
                        </td>
                        <td>
                            @if (user.RoleNames.Count() >= 1)
                            {
                                for (int i = 0; i < user.RoleNames.Count(); i++)
                                {
                                    <span> @user.RoleNames[i]</span>
                                    if (i < user.RoleNames.Count() - 1)
                                    {
                                        <span>,</span>
                                    }
                                }

                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>



</div>