@model List<SliderVM>
@{
    ViewData["Title"] = "Index";
}

<div class="container" style="margin-left:30px">
    <h1 class="text-center mt-3 mb-3">Sliders</h1>
    @if (User.IsInRole("SuperAdmin"))
    {
        <a class="btn btn-success text-white" asp-action="Create">Create</a>

    }
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Header
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        CreatedDate
                    </th>
                    <th>
                        Operations
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var slider in Model)
                {
                    <tr>
                        <td class="py-1">
                            <img src="~/assets/images/@slider.Image" alt="image" />
                        </td>

                        <td class="py-1">
                            @slider.Header
                        </td>

                        <td class="py-1">
                            @slider.Title
                        </td>


                        <td class="py-1">
                            @slider.Description.Substring(0, (int)Math.Ceiling(slider.Description.Length * 0.3))
                        </td>

                        <td>
                            @slider.CreatedDate.ToString("MM/dd/yyyy")
                        </td>

                        <td>
                            <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@slider.Id">Detail</a>
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@slider.Id">Edit</a>
                            <form class="d-inline-block" method="post" asp-action="Delete" asp-route-id="@slider.Id">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>