@model ProductDetailPageVM
@inject UserManager<AppUser> _userManager;
@{
    ViewData["Title"] = "Detail";
    AppUser user = _userManager.Users.FirstOrDefault(u => u.UserName == User.Identity.Name);

}


@section css {
    <link rel="stylesheet" href="~/assets/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="~/assets/slick-1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/assets/css/pages/productdetail.css" />

}


<!-- Product-Detail Section Starts -->
<section id="product-detail">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9">
                <div class="product">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6 mb-5 mb-lg-0">
                            <div class="product-image">
                                @foreach (var item in Model.Product.Images)
                                {
                                    <img src="~/assets/images/@item.Image" alt="" />

                                }
                              
                            </div>
                            <div class="slider-nav-thumbnails">
                                @foreach (var item in Model.Product.Images)
                                {
                                    <img src="~/assets/images/@item.Image" alt="" />

                                }
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="product-content" data-id="@Model.Product.Id">
                                <h1 class="product-name">
                                   @Model.Product.Name
                                </h1>
                                <div class="price">
                                    <span class="actial-price">$@(Model.Product.Price - (Model.Product.Price * Model.Product.Discount)/100)</span>
                                    <del class="discount-price">$@Model.Product.Price</del>
                                </div>

                                <div class="review">
                                    <div class="stars">
                                        @for (int i = 0; i < Model.Product.Rate; i++)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                        }
                                        @for (int i = 0; i < (5-Model.Product.Rate); i++)
                                        {
                                            <i class="fa-regular fa-star"></i>
                                        }
                                  
                                       
                                    </div>
                                    <span>@Model.Product.ProductComments.Count() reviews</span>
                                </div>
                                <p>
                                    @Model.Product.Description.Substring(0, (int)Math.Ceiling(Model.Product.Description.Length * 0.1))
                                </p>

                                <div class="add-to-cart">
                                    <div class="quantity">
                                        <span class="minus">
                                            <i class="fa-solid fa-minus"></i>
                                        </span>
                                        <span class="num">1</span>
                                        <span class="plus">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                    </div>
                                    @if(User.Identity.IsAuthenticated){
                                        <button type="submit" class="add-cart" data-id="@Model.Product.Id">Add to cart</button>
                                    }
                                    else
                                    {

                                        <a asp-controller="Account" asp-action="Login">Add to cart</a>
                                   
                                    }

                                </div>

                                <div class="product-extra-buttons" data-id="@Model.Product.Id">
                                    @if(User.Identity.IsAuthenticated){
                                        <div class="add-to-wishlist wishlist-add">
                                            <i class="fa-regular fa-heart"></i>
                                            <span>Add to Wishlist</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <a asp-controller="Account" asp-action="Login">
                                            <div class="add-to-wishlist wishlist-add">
                                                <i class="fa-regular fa-heart"></i>
                                                <span>Add to Wishlist</span>
                                            </div>
                                        </a>
                                    }

                                    <a href="">
                                        <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                        Share this Product
                                    </a>
                                </div>

                                <div class="product-meta">
                                    <p>SKU: <span>@Model.Product.Sku</span></p>
                                    <p>Category: <span>@Model.Product.CategoryName</span></p>
                                    <p>Tags: 
                                        @foreach (var item in Model.Product.Tags)
                                        {
                                            <span>@item.Name</span>
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 mt-5 mt-lg-0">
                <div class="widget related-products">
                    <h4 class="widget-title">Related Products</h4>
                    <div class="products">
                        
                        @foreach (var item in Model.RelatedProducts)
                        {
                            <div class="product">
                                <div class="image">
                                    <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                        <img src="~/assets/images/@item.Images.FirstOrDefault(m=>m.IsMain).Image" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                            @item.Name
                                        </a>
                                    </h6>
                                    <p class="price"><span>$</span>@(item.Price - (item.Price*item.Discount)/100)</p>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Detail Section Ends -->
<!-- Description-Rewiev section starts -->
<section id="description-review-section">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active"
                        id="home-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#home"
                        type="button"
                        role="tab"
                        aria-controls="home"
                        aria-selected="true">
                    Description
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="profile-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#profile"
                        type="button"
                        role="tab"
                        aria-controls="profile"
                        aria-selected="false">
                    Review
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active desc"
                 id="home"
                 role="tabpanel"
                 aria-labelledby="home-tab">
                <p>
                   @Model.Product.Description
                </p>
            </div>
            <div class="tab-pane fade"
                 id="profile"
                 role="tabpanel"
                 aria-labelledby="profile-tab">
                <div class="reviews">
                    <h4 class="widget-title">@Model.Product.ProductComments.Count() Review</h4>
                    @foreach (var item in Model.Product.ProductComments.OrderByDescending(m => m.CreatedDate).Take(3))
                    {
                        <div class="single-review">
                            <div class="review-image">
                                @if (_userManager.Users.FirstOrDefault(m => m.Id == item.AppUserId).Image is null)
                                {
                                    <img src="~/assets/images/author-logo.webp" alt="" />

                                }
                                else
                                {
                                    <img style="width:95%" src="~/assets/images/@_userManager.Users.FirstOrDefault(m=>m.Id==item.AppUserId).Image" alt="" />
                                }
                            </div>

                            <div class="text">
                                <div class="stars">
                                    @for (int i = 0; i < item.Rate; i++)
                                    {
                                        <i class="fa-solid fa-star"></i>
                                    }
                                    @for (int i = 0; i < (5 - item.Rate); i++)
                                    {
                                        <i class="fa-regular fa-star"></i>
                                    }
                                </div>
                                <p>
                                    <span class="author">
                                        @_userManager.Users.FirstOrDefault(m => m.Id == item.AppUserId).Name @_userManager.Users.FirstOrDefault(m => m.Id == item.AppUserId).Surname

                                    </span> -
                                    <span class="date">@item.CreatedDate.ToString("MMMM") @item.CreatedDate.Day , @item.CreatedDate.Year</span>
                                </p>
                                <p class="desc">
                                    @item.Message
                                </p>
                            </div>
                        </div>

                    }
                </div>
                <div class="add-review">
                    <h4 class="widget-title">Add a Review</h4>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="review-form">
                            <form method="post" asp-controller="Shop" asp-action="PostComment" asp-route-userId="@user.Id" asp-route-productId="@Model.Product.Id">
                                <div class="stars">
                                    <span>Your Rating: </span>
                                    <input type="radio" name="star" id="star1" value="1" />
                                    <label for="star1"></label>
                                    <input type="radio" name="star" id="star2" value="2" />
                                    <label for="star2"></label>
                                    <input type="radio" name="star" id="star3" value="3" />
                                    <label for="star3"></label>
                                    <input type="radio" name="star" id="star4" value="4" />
                                    <label for="star4"></label>
                                    <input type="radio" name="star" id="star5" value="5" />
                                    <label for="star5"></label>
                                    <input type="hidden"  id="rate" value="5" asp-for="@Model.ProductComment.Rate" />

                                </div>
                                <input type="text"
                                       value="@user.Name @user.Surname"
                                       readonly
                                       class="form-control"
                                       style="background-color:#fff!important"
                                       placeholder="Your Name" />
                                <input type="email"
                                       value="@user.Email"
                                       readonly
                                       style="background-color:#fff!important"
                                       class="form-control"
                                       placeholder="Your Email" />
                                <textarea class="form-control"
                                          asp-for="@Model.ProductComment.Message"
                                          cols="40"
                                          rows="5"
                                          placeholder="Your Message"></textarea>
                                <span class="text-danger" asp-validation-for="@Model.ProductComment.Message"></span>
                                <button class="btn" type="submit">Submit</button>
                            </form>
                        </div>

                    }

                    else
                    {
                        <div class="review-form">
                            <form action="">
                                <div class="stars">
                                    <span>Your Rating: </span>
                                    <input type="radio" name="star" id="star1" />
                                    <label for="star1"></label>
                                    <input type="radio" name="star" id="star2" />
                                    <label for="star2"></label>
                                    <input type="radio" name="star" id="star3" />
                                    <label for="star3"></label>
                                    <input type="radio" name="star" id="star4" />
                                    <label for="star4"></label>
                                    <input type="radio" name="star" id="star5" />
                                    <label for="star5"></label>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Your Name" />
                                <input type="email"
                                       class="form-control"
                                       placeholder="Your Email" />
                                <textarea class="form-control"
                                          name=""
                                          id=""
                                          cols="40"
                                          rows="5"
                                          placeholder="Your Message"></textarea>
                                <a class="btn" asp-controller="Account" asp-action="Login">Submit</a>
                            </form>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Description Revies section ends -->

<!-- product succesfully added to wishlist popup -->
<div class="added-item-wishlist ">
    <p><i class="ion-checkmark"></i>Product added to wishlist.</p>
</div>

<!-- product is already in  wishlist popup -->
<div class="remove-item-wishlist">
    <p><i class="ion-alert"></i>This product is already in wishlist.</p>
</div>

<!-- product added to basket popup -->

<div class="added-item-basket">
    <i class="ion-checkmark"></i>
    <p>
        Cogratulations! Your item has been <br />
        added.
    </p>
</div>

@section script {
    <script src="~/assets/slick-1.8.1/slick/slick.min.js"></script>
    <script src="~/assets/slick-1.8.1/slick/slick.js"></script>
    <script src="~/assets/js/productdetail.js"></script>
    <script src="~/assets/js/wishlist.js"></script>
    <script src="~/assets/js/cart.js"></script>


}

