@model ShopVM

@{
    ViewData["Title"] = "Index";
    int productCount = 0;
    foreach (var item in Model.Categories)
    {
        productCount += item.Products.Count();
    }
}

@section css {
    <link rel="stylesheet" href="~/assets/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="~/assets/slick-1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/assets/css/pages/shop.css" />

}

<!-- Shop Section Starts -->
<section id="shop-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-lg-2 product-list">
                <partial name="_ProductsPartial" model="Model.PaginatedDatas" />

            </div>
            <div class="col-lg-3 mt-5 mt-lg-0">
                <div class="left-side-shop">
                    <form id="filter-form">
                        <div class="widget filter-widget">
                            <h4 class="widget-title">Filter by Price</h4>
                            <div class="range-slider">
                                <input type="range"
                                       class="min-price"
                                       value="10"
                                       min="10"
                                       max="200"
                                       step="5"
                                       style="accent-color: #d8d8d8" />
                                <input type="range"
                                       class="max-price"
                                       value="200"
                                       min="10"
                                       max="200"
                                       step="5"
                                       style="accent-color: #d8d8d8" />
                            </div>
                            <div class="price-area">
                                <div style="color: gray">
                                    <p>Price:</p>
                                </div>
                                <div>
                                    <p id="min-value">10</p>
                                </div>

                                <div>
                                    <p id="max-value">200</p>
                                </div>
                                <div class="filter-button">
                                    <button type="submit" style="cursor:pointer">FILTER</button>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="widget categories-widget">
                        <h4 class="widget-title">Category</h4>
                        <ul>
                            <li class="cat-item cat-item-all">
                                <a href="">All</a>
                                (@productCount)
                            </li>

                            @foreach (var item in Model.Categories)
                            {
                                <li class="cat-item prod-cat-item" data-id="@item.Id" style="cursor:pointer">
                                    <a href="">@item.Name</a>
                                    (@item.Products.Count())
                                </li>

                            }
                        </ul>
                    </div>

                    <div class="widget top-products">
                        <h4 class="widget-title">Top Products</h4>
                        <div class="products">
                           @foreach (var item in Model.TopProducts)
                            {
                                <div class="product">
                                    <div class="image">
                                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="~/assets/images/@item.Images.FirstOrDefault(m=>m.IsMain).Image" alt="" />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                                @item.Name
                                            </a>
                                        </h6>
                                        <p class="price"><span>$</span>@(item.Price -(item.Price*item.Discount)/100)</p>
                                    </div>
                                </div>
                            }
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Detail Section Ends -->


<!-- Product Detail Modal Section Starts -->
<section id="product-detail-modal">
    <div class="container">
        <div class="detail-modal d-none">
            <div class="close-modal">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="modal-content">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 mb-5 mb-lg-0">
                        <div class="product-image">
                        </div>
                        <div class="slider-nav-thumbnails">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="product-content" data-id="0">
                            <h1 class="product-name">
                                In 10 Minutes, I'll Give You The Truth About
                            </h1>
                            <div class="price">
                                <span class="actual-price">$</span>
                                <del class="discount-price">$80</del>
                            </div>


                            <p class="product-desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua.
                            </p>

                            <div class="add-to-cart">
                                <div class="quantity">
                                    <span class="minus">
                                        <i class="fa-solid fa-minus"></i>
                                    </span>
                                    <span class="num">1</span>
                                    <span class="plus">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                </div>
                                <button type="submit">Add to cart</button>
                            </div>

                            <div class="product-extra-buttons">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="add-to-wishlist wishlist-add">
                                        <i class="fa-regular fa-heart"></i>
                                        <span>Add to Wishlist</span>
                                    </div>
                                }
                                else
                                {
                                    <a asp-controller="Account" asp-action="Login">
                                        <div class="add-to-wishlist wishlist-add">
                                            <i class="fa-regular fa-heart"></i>
                                            <span>Add to Wishlist</span>
                                        </div>
                                    </a>
                                }
                                <a href="">
                                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                    Share this Product
                                </a>
                            </div>

                            <div class="product-meta">
                                <p>SKU: <span class="sku">BE45VGRT</span></p>
                                <p>Category: <span class="category">adventure, children</span></p>
                                <p>Tags: <span class="tags">news, strategy, bestseller</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-overlay d-none"></div>

</section>
<!-- Product Detail Modal Section Ends -->


<!-- product succesfully added to wishlist popup -->
<div class="added-item-wishlist " style="border:none!important"> 
    <p><i class="ion-checkmark"></i>Product added to wishlist.</p>
</div>

<!-- product is already in  wishlist popup -->
<div class="remove-item-wishlist" style="border:none!important">
    <p><i class="ion-alert"></i>This product is already in wishlist.</p>
</div>

<!-- product added to basket popup -->

<div class="added-item-basket d-none ">
    <i class="ion-checkmark"></i>
    <p>
        Cogratulations! Your item has been <br />
        added.
    </p>
</div>


@section script {
    <script src="~/assets/slick-1.8.1/slick/slick.min.js"></script>
    <script src="~/assets/slick-1.8.1/slick/slick.js"></script>
    <script src="~/assets/js/shop.js"></script>
    <script src="~/assets/js/wishlist.js"></script>
}
